[Unit]
Description=Tokumei Autorun
After=network.target network-online.target tokumei-initialize.service
Before=getty-pre.target
Wants=getty-pre.target network-online.target

[Service]
Type=oneshot
ExecStart=/etc/systemd/scripts/tokumei-autorun
RemainAfterExit=true
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=multi-user.target
